.desktop-nav {
  display: none;
}

@media (min-width: $desktop-width) {
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-nav__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 771px;
  }

  .desktop-nav__users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 418px;
  }

  .desktop-nav__logo {
    width: 111px;
    height: 111px;
  }

  .desktop-nav__link {
    @include montserrat;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    display: flex;
  }

  .desktop-nav__link--tel::before {
    content: "";
    background-image: url(../sass/blocks/desktop-nav/telefon.svg);
    width: 14px;
    height: 14px;
    display: block;
  }

  .desktop-nav__link:hover {
    border-bottom: 2px solid #fe8057;
  }

  .desktop-nav__link--teachers {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    border-radius: 4px;
    border: 2px solid #fe8057;
    display: block;
    width: 197px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
  }

  .desktop-nav__link--teachers:active {
    background-color: #fe8057;
  }
}