.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 248px;
  margin: 0 auto;
}

.main-nav__city {
  @include montserrat;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.main-nav__logo {
  display: block;
  width: 88px;
  height: 88px;
  margin-right: 18px;
}

.main-nav__burger {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: none;
  }
}