@import "fonts/fonts",
  "vendors/normalize",
  "mixins/mixins",
  "abstracts/variables",
  "blocks/desktop-nav/desktop-nav",
  "blocks/main-block/main-block",
  "blocks/main-header/main-header",
  "blocks/main-nav/main-nav",
  "blocks/tablet-nav/tablet-nav",
  "blocks/toggle-menu/toggle-menu";

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

.container {
  margin: 0 auto;
  width: 304px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 952px;
    padding: 0;
  }

  .main-nav {
    min-height: 88px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1280px;
  }
}
